*{
    box-sizing: border-box;
}
body{
    color: #121867;
}
nav,.container.footer{
    max-width:1200px;
    min-width: 576px;
    margin:0px auto;
}

nav {
    background-color: #121867;
    color: rgb(243, 55, 132);
    /*position: sticky;*/
    overflow-y: auto; 
    top: 0px;
    z-index: 100;
    }
    nav div {
        float: left; 
        margin-left: 20px;
    }
     /* Fondo de la cabecera */
header img{
    opacity: 0.7;
    width: 100%;
}
main{
    margin: 0px auto;
    width: 80%;
}

.cards {
    overflow-y: auto;
}

.cards .card img {
float: left; 
padding: 20px;
text-align: center;
width: 33%;
}
.cards .card img {
    width: 50%;
}
.bottle{
    margin: 30px auto;
    overflow-y: auto;
    width: 70%;
}
.bootle img {
    
}